@import '../../../../styles/mixins/media';

.container {
  z-index: 9;

  padding: 119px 44px 85px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: -webkit-fill-available;

  background: url('../../../../assets/img/sections/landing/header/bg.png') 0 0 no-repeat,
    url('../../../../assets/img/sections/landing/body/bg_upside.png') bottom no-repeat, #000;
  background-size: contain;
  // border-bottom: 1px solid $color-neutral-80;
}

.container .connectBtn > p {
  font-size: 20px;
}

.bottomText {
  margin-top: 20px;

  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  @include b(extramobile) {
    align-items: flex-start;
  }

  .link {
    font-family: 'TL', sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing:4px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
  }

  .link + .link {
    margin-top: 10px;
  }
}

.footer {
  background: url('../../../../assets/img/sections/landing/body/bg_upside.png') bottom 0 no-repeat,
    #000;
  background-size: contain;
}

.button {
  font-family: 'TL', sans-serif;
  font-size: 22px;
  line-height: 25px;
}

.popupcontainer {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 17, 17, 0.61);
  display: flex;
  align-items: center;
  h3{
    margin:10px;
  }
  .popupcontent {
    background-color: #fefefe;
    margin: auto;
    color:#000;
    padding: 20px;
    border-radius:5px;
    text-align:center;
    line-height:30px;
    border: 1px solid #888;
    overflow: scroll;
    height: 90vh;
    width: 50%;
    position: relative;
    @include b(mobile) {
      width: 100%;
    }
    img{width:100%;}
    h2{
      font-size:36px;
      color:#FE3634;
      margin-top:20px;
    }
    h3{
      color:#333;
    }
    a{color:#666; font-weight:bold;}
    p{
      font-size: 17px;
      padding: 10px;
      line-height: 20px;
    }
    a.close{
      color: #f7b42c;
      position:fixed;
      right:3%;
      top:3%;
      font-size: 140px;
      font-weight: bold;
      background: none;
      padding: 0;
      margin: 0;
      text-decoration:none;
    }
    a.close:hover{
      color:#f7b42c;
    }
  }
  span:hover, span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
.popupcontainer:target{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.popupstyle2{
  transform: scale(0.3);
}
.popupstyle2:target{
  transform: scale(1);
}
.link{
  color:#fff;
  text-align:center;
}