@import '../../../styles/mixins/container.scss';
@import '../../../styles/mixins/media.scss';

.header {
  width: 100%;
  height: 82px;
  position: fixed; 
  background:rgba(0,0,0,.7);
  top: 0;
  background: url('../../../assets/img/sections/landing/body/bg2.png');
  display: flex;
  flex-direction: column;
  z-index: 999;
  &_inner {
    @include container;
    max-width: 1880px;
    padding:15px 0;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include b(mobile) {
      justify-content: center;
    }
  }
  @include b(mobile) {
   min-height:82px;
  }
  @include b(extramobile) {
  }
}

.logo {
  display: flex;
  .logoImg {
    // width: 60px;
    // height: 60px;
    @include b(mobile) {
      display: none;
    }
  }
}
video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top:-100px;
  z-index: -1;
  @include b(tablet) {
    width:100% ;
    object-fit: cover;
  }
}
.bannerWrapper {
  position: relative;
  width: 100%;
  min-height: 950px;
  //background-image:url('../../../assets/img/sections/landing/first-block/bunny.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center top;
  .foot {
    position:absolute;
    width:100%;
    height:330px;
    z-index:0;
    bottom:0;
    background-image:url('../../../assets/img/sections/landing/body/bg_upside.png');
    @include b(mobile) {
      width: 100%;
      height: 90px;
      z-index: 0;
      bottom: 0;
      display:none;
      background-size: 100%;
      background-position: bottom;
     }
  }
  @include b(mobile) {
    min-height: 600px; 
    background-size:250%;
    background-position:top;
  }

  .banner {
    margin: auto;
    width: 400px;
    height: auto;
    position:absolute;
    background-size:100%;
    z-index: 1;
    left:0;
    right:0;
    bottom:20%;
    @include b(tablet) {
      width:60%;
      background-size:100%;
    }
    @include b(mobile) {
      height:auto;
      bottom:15%;
    }
  }
  .bannerButton {
    width:200px;
    height:60px;
    position: absolute;
    z-index: 99;
    bottom:15%;
    left:0;
    right:0;
    margin:auto;
    font-size: 18px;
    line-height: 30px;
    font-family: 'TL', sans-serif;
    letter-spacing: 0.2em;
    @include b(tablet) {
    }
    @include b(mobile) {
      bottom:2%;
    }
  }
  &Mobile {
    display: none;

    @include b(mobile) {
      display: none;
      .banner {
        margin: 0 auto;
        width: 70%;
      }
    }
    @include b(extramobile) {
      .banner {
        margin: 0 auto;
        width: 50%;
      }
    }
  }
}





.nav {
  display: flex;
  align-items: center;
  margin-left: 30px;
  @include b(mobile) {
    display: none;
  }

  .link {
    font-family: 'TL', sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing:5px;
    border-radius:5px;
    padding:10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    position: relative;

    @include b(tablet) {
      font-size: 12px;
      line-height: 19px;
      padding:10px 5px;
    }
    &:hover{
      animation: burn2 1000ms ease-out forwards;
      background-color: #f7b42c;
      background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    }
    &::before {
      content: '';
      position: absolute;
      left: 40px;
      width: 100px;
      height: 40px;
      bottom:-4px;
      border-radius: 100%;
      animation: menu 1000ms ease-out forwards;
      transform: scale(0.1, 1);
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 100px;
      height: 40px;
      border-radius: 100%;
      animation: menu 1000ms ease-out forwards;
    }
  }
  @keyframes menu {
    100% {
      transform: translateY(-20px) scale(1.5);
      filter: blur(10px);
      opacity: 0;
    }
  }
  
  @keyframes burn2 {
    0% {
      box-shadow:
        0 0 5px 0 rgba(200, 0, 10, 1),
        0 0 5px 0 rgba(230, 30, 10, 0.8),
        0 0 5px 0 rgba(230, 230, 10, 0.6);
    }
    
    100% {
      box-shadow:
        0 -35px 40px 30px rgba(255, 130, 10, 0),
        0 -30px 30px 10px rgba(230, 30, 10, 0),
        0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
  }

  .link + .link {
    margin-left: 40px;

    @include b(tablet) {
      margin-left: 20px;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  @include b(mobile) {
    position:absolute;
    right:5%;
    top:25%;
  }
}

.socials {
  display: flex;
  margin-right: 54px;
  .socialLink + .socialLink {
    margin-left: 10px;
  }

  @include b(tablet) {
    margin-right: 14px;
    display: none;
  }
}

.button {
  font-family: 'TL', sans-serif;
  font-size: 22px;
  line-height: 25px;

  @include b(tablet) {
    font-size: 16px;
    line-height: 19px;
  }
}

.burger {
  position: absolute;
  left: 10px;
  display: none;
  width: 60px;
  height: 60px;

  @include b(mobile) {
    display: block;
  }
}

.mobileMenu {
  position: fixed;
  height: -webkit-fill-available;
  z-index: 99;
  top: 0;
  left: 0;

  transition: 300ms;
  transform: translateX(-100%);
}

.mobileMenuOpen {
  transform: translateX(0);
  right:0;
  bottom: 0;
}

