@import '../../../styles/mixins/container.scss';
@import '../../../styles/mixins/media.scss';

.header {
  width: 100%;
  height: 82px;
  position: fixed;
  //background: rgba(0, 0, 0, 0.7);
  top: 0;
  background: url('../../../assets/img/sections/landing/body/bg2.png');
  display: flex;
  flex-direction: column;
  z-index: 999;
  &_inner {
    @include container;
    max-width: 1880px;
    padding: 15px 0;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include b(mobile) {
      justify-content: center;
    }
  }
  @include b(mobile) {
    min-height: 82px;
  }
  @include b(extramobile) {
  }
}

.logo {
  display: flex;
  .logoImg {
    width: 200px;
    @include b(950) {
      display: none;
    }
  }
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: -100px;
  z-index: -1;
  @include b(tablet) {
    width: 100%;
    object-fit: cover;
  }
}
.bannerWrapper {
  position: relative;
  width: 100%;
  min-height: 950px;
  //background-image:url('../../../assets/img/sections/landing/first-block/bunny.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  .foot {
    position: absolute;
    width: 100%;
    height: 330px;
    z-index: 0;
    bottom: 0;
    background-image: url('../../../assets/img/sections/landing/body/bg_upside.png');
    @include b(mobile) {
      width: 100%;
      height: 90px;
      z-index: 0;
      bottom: 0;
      display: none;
      background-size: 100%;
      background-position: bottom;
    }
  }
  @include b(mobile) {
    min-height: 600px;
    background-size: 250%;
    background-position: top;
  }

  .banner {
    margin: auto;
    width: 600px;
    height: auto;
    position: absolute;
    background-size: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 25%;
    @include b(tablet) {
      width: 60%;
      background-size: 100%;
    }
    @include b(mobile) {
      height: auto;
      bottom: 30%;
    }
  }
  .overview {
    margin: auto;
    width: 600px;
    height: auto;
    position: absolute;
    background-size: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 17%;
    @include b(tablet) {
      width:90%;
      bottom:10%;
    }
    @include b(mobile) {
      width:80%;
      bottom:18%;
    }
  }
  .bcontent{
    width:50%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    position: absolute;
    z-index: 99;
    bottom: 11%;
    left: 0;
    right: 0;
    margin: auto;
    @include b(mobile) {
      bottom:0;
    }
  }
  .bannerButton {
    width: 180px;
    height: 50px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'TL', sans-serif;
    letter-spacing: 0.2em;
    margin: 5px;
    
    @include b(tablet) {
    }
    @include b(mobile) {
    }
  }
  .bannerButton2 {
    width: 180px;
    height: 50px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'TL', sans-serif;
    letter-spacing: 0.2em;
    margin: 5px;
    @include b(tablet) {
    }
    @include b(mobile) {
    }
  }
  &Mobile {
    display: none;

    @include b(mobile) {
      display: none;
      .banner {
        margin: 0 auto;
        width: 70%;
      }
    }
    @include b(extramobile) {
      .banner {
        margin: 0 auto;
        width: 50%;
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 30px;
  @include b(mobile) {
    display: none;
  }
  .link {
    font-family: 'TL', 'Caveat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    color: #fff;
    position: relative;

    @include b(desktop) {
      font-size: 12px;
      line-height: 19px;
      padding: 10px 5px;
    }
    &:hover {
      animation: burn2 1000ms ease-out forwards;
      background-color: #f7b42c;
      background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    }
    &::before {
      content: '';
      position: absolute;
      left: 40px;
      width: 100px;
      height: 40px;
      bottom: -4px;
      border-radius: 100%;
      animation: menu 1000ms ease-out forwards;
      transform: scale(0.1, 1);
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 100px;
      height: 40px;
      border-radius: 100%;
      animation: menu 1000ms ease-out forwards;
    }
  }
  @keyframes menu {
    100% {
      transform: translateY(-20px) scale(1.5);
      filter: blur(10px);
      opacity: 0;
    }
  }

  @keyframes burn2 {
    0% {
      box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8),
        0 0 5px 0 rgba(230, 230, 10, 0.6);
    }

    100% {
      box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0),
        0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
  }

  .link + .link {
    margin-left: 40px;

    @include b(desktop) {
      margin-left: 20px;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  @include b(mobile) {
    position: fixed;
    right: 5px;
    top: 0%;
    width: 80%;
    justify-content: center;
    align-items: flex-end;
  }
}

.socials {
  display: flex;
  margin-right: 20px;
  img{
    width:30px;
    height:30px;
  }
  .socialLink + .socialLink {
    margin-left: 10px;

  }

  @include b(desktop) {
    margin-right: 14px;
    display: none;
  }
}

.button {
  width:200px;
  height:40px;
  font-family: 'TL', sans-serif;
  font-size: 15px;
  padding:0;

  @include b(desktop) {
    font-size: 16px;
    line-height: 19px;
    margin-left:10px;
  }

  @include b(mobile) {
    margin-top: 20px;
  }
}

.burger {
  position: absolute;
  left: 10px;
  display: none;
  width: 60px;
  height: 60px;

  @include b(mobile) {
    display: block;
  }
}

.mobileMenu {
  position: fixed;
  height: -webkit-fill-available;
  z-index: 99;
  top: 0;
  left: 0;
  transition: 300ms;
  transform: translateX(-100%);
}

.mobileMenuOpen {
  transform: translateX(0);
  right: 0;
  bottom: 0;
}

.translate {
  position: relative;
  z-index: 9999;
  .head {
    position: relative;
    display: block;
    align-items: center;
    text-align: center;
    background: #323232;
    width:120px;
    height:40px;
    border-radius:5px;
    line-height:40px;
    box-sizing: border-box;
    font-size: 12px;
    letter-spacing: 0.2em;
    font-family: 'TL', sans-serif;
    margin-right: 20px;
    color: #ffffff;
    cursor: pointer;
    transition: box-shadow 0.2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: 0 8px 0 #222, 0 10px 15px rgba(0,0,0,.35);
    transition :#333 0.2s ease-in-out;

    @include b(desktop) {
      font-size: 12px;
    }

    @include b(mobile) {
      margin-right: 0;
    }

    &:hover {
      // box-shadow: inset 0 0 0 2px $logo-color-orange1;
    }
  }

  .avatar {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .selection {
    // @include body-14;

    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0;
    // color: $neutrals2;
  }

  .arrow {
    position: absolute;
    top: 10px;
    right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    svg {
      // fill: $logo-color-orange1;
      // transition: transform $animation-timing-default;
    }
  }

  .body {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    border-radius: 12px;
    // background: $neutrals8;
    // box-shadow: inset 0 0 0 2px $neutrals6, 0 4px 12px rgba($neutrals2, 0.1);
    border-radius:5px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(3px);
    // transition: all $animation-timing-default;
    @include b(mobile) {
      top: calc(100% + 2px);
    }
    span {
      white-space: nowrap;
    }
  }

  .option {
    width:120px;
    height:30px;
    line-height:30px;
    font-size: 14px;
    background: #000000;
    border-bottom: 1px dotted #464646;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    &:hover,
    &.selected {
      // color: $black;
      background:coral;
      color:#fff;
      font-weight: bold;
    }
  }
}

.active {
  z-index: 10;
  .head {
    .arrow {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .body {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.popupcontainer {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 17, 17, 0.61);
  display: flex;
  align-items: center;
  h3{
    margin:10px;
  }
  .popupcontent {
    background-color: #fefefe;
    margin: auto;
    color:#000;
    padding: 20px;
    border-radius:5px;
    text-align:center;
    line-height:30px;
    border: 1px solid #888;
    overflow: scroll;
    height: 90vh;
    width: 50%;
    position: relative;
    @include b(mobile) {
      width: 100%;
    }
    img{width:100%;}
    h2{
      font-size:36px;
      color:#FE3634;
      margin-top:20px;
    }
    h3{
      color:#333;
    }
    a{color:#666; font-weight:bold;}
    p{
      font-size: 17px;
      padding: 10px;
      line-height: 20px;
    }
    a.close{
      color: #f7b42c;
      position:fixed;
      right:3%;
      top:3%;
      font-size: 140px;
      font-weight: bold;
      background: none;
      padding: 0;
      margin: 0;
      text-decoration:none;
    }
    a.close:hover{
      color:#f7b42c;
    }
  }
  span:hover, span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
.popupcontainer:target{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.popupstyle2{
  transform: scale(0.3);
}
.popupstyle2:target{
  transform: scale(1);
}
.menuwrap{
  margin-left:40px;
}
.menu, .dropmenu {
}
.menuitem{
  position: relative;
}
.menuitem a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.dropmenu {
  display: none;
  position: absolute;
  left:0;
  border-radius:5px;
  background-color: #333;
  min-width: 200px;
  text-align:center;
}

.dropmenuitem {
  width: 100%;
  padding: 10px 0;
}
.dropmenuitem:hover {
  color:#f7b42c;
}
.dropmenuitem a {
  color: #fff;
}
.menuitem:hover .dropmenu {
  display: block;
  left:0;
  position: absolute;
}