@import '../../../../styles/mixins/media.scss';

.block {
  overflow-x: hidden;

  height: calc(100vh + 114px);

  color: #333;
  // background: url('../../../../assets/img/sections/landing/first-block-presale/bg1.png') 0 0
  //     no-repeat,
  //   #7876b1;
  background-size: cover;
  @include b(mobile) {
    height: 100%;
  }
}

.block_inner {
  position: relative;

  margin: 0 auto;
  padding: 0 15px;

  display: grid;

  max-width: 1130px;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  @include b(mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
  }
  @include b(mobile) {
    height: auto;
  }
}

.left {
  position: relative;
}

.right {
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  @include b(mobile) {
    align-items: center;
  }
  @include b(extramobile) {
    display: block;
  }
}

.devil {
  position: absolute;
  top: 140px;
  left: 270px;

  transform: translateX(50%);
  @include b(tablet) {
    display: none;
  }
  @include b(mobile) {
    top: 0;
    left: 95%;

    display: block;

    transform: translateX(-90%);

    img {
      width: 120px;
    }
  }
}

.light {
  position: absolute;
  left: 50px;
  bottom: 50px;
  @include b(mobile) {
    top: 0;
    left: 50%;

    transform: translateX(-50%);

    img {
      width: 160px;
    }
  }
}

.cosmo {
  position: absolute;
  left: -150px;
  bottom: -50px;
  @include b(mobile) {
    top: 0;
    left: 0;

    img {
      width: 120px;
    }
  }
}

.title {
  margin-bottom: 25px;

  max-width: 360px;

  font-family: 'FORT';
  font-size: 95.5734px;
  font-weight: 600;
  line-height: 86px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 3.71658px 11.1497px rgba(0, 0, 0, 0.25);

  color: #fff;
  color: #1a1917;

  span {
    color: #a30116;
  }

  span.white {
    color: #fff;
  }
  @include b(mobile) {
    max-width: 100%;
  }
  @include b(extramobile) {
    font-size: 58px;
    line-height: 1;
  }
}

.date {
  position: relative;

  margin-bottom: 42px;

  display: grid;

  transition-delay: 0.5s !important;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @include b(mobile) {
    width: 100%;
    gap: 15px;
  }

  &_item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 120px;

    background: #000;
    border-radius: 12px;
    @include b(mobile) {
      width: 100%;
    }

    & + & {
      &::after {
        content: ':';

        position: absolute;
        top: 50%;
        left: -20px;

        font-size: 36px;
        font-weight: 700;

        transform: translateY(-50%);
        @include b(mobile) {
          left: -12.5px;

          font-size: 28px;
        }
      }
    }

    &__number {
      margin-bottom: 0;

      max-height: 80px;

      font-family: 'FORT';
      font-size: 70px;
      font-weight: 600;

      color: #fd7d48;
      @include b(400) {
        font-size: 60px;
      }
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 0.035em;

      color: #fff;
    }
  }
}

.mint {
  padding: 20px 50px;

  font-family: 'FORT';
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;

  color: #fff;
  background: #fd7d48;
  border: 3px solid #fff;

  transition-delay: 0.8s !important;
  align-self: center;

  @include b(mobile) {
    width: 100%;
  }
}
