.button {
  padding: 17px 30px;

  box-sizing: border-box;

  background: #000;
  border: 2px solid #db5555;
  border-radius: 12px;
  box-shadow: 0 0 20px 2px #ff1616;

  &.insideShadow {
    box-shadow: inset 0 0 7px 0.5px #ff1616;
  }

  // &.transparent {
  //   background: transparent;
  //   border: 3px solid #fd7d48;
  // }
}

.image{
  transform: translateX(-15px);
}