@import '../../../../../styles/mixins/media.scss';

.section {
  position: relative;

  margin: 0 auto;
  padding: 0 15px;
  padding: 105px 170px 0;

  text-align: center;

  background: url('../../../../../assets/img/sections/landing/body/roadmap.png') center 0 no-repeat,
    #000;
  background-position: top center;
  -webkit-background-size: 100% 60%;
  -moz-background-size: 100% 60%;
  -o-background-size: 100% 60%;
  background-size: 100% 60%;
  @include b(mobile) {
    padding: 0 15px;
  }

  &_body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title {
  margin: 0 auto;
  padding: 17px 30px;

  box-sizing: border-box;
  width: fit-content;

  font-family: 'TL';
  font-size: 50px;
  line-height: 58px;

  background: #000;
  border: 4px solid #ff1616;
  border-radius: 12px;

  @include b(tablet) {
    margin-top: 60px;
    margin-bottom: 20px;

    font-size: 50px;
  }

  @include b(mobile) {
    font-size: 25px;
    line-height: 29px;
  }
}

.subtitle {
  font-size: 18px;
  line-height: 32px;

  color: #fff;
}

.stages {
  margin: 0 auto;
  padding-top: 30px;
}

.stage {
  padding: 12px 18px;

  display: flex;
  align-items: center;

  background: linear-gradient(180deg, #280808 0%, #4e0b0b 100%);
  border-radius: 12px;

  .percentage {
    margin-right: 30px;
    padding: 17px 30px;

    box-sizing: border-box;

    font-family: 'TL', sans-serif;
    font-size: 16px;
    line-height: 18px;

    background: #000;
    border: 2px solid #acacac;
    border-radius: 12px;
  }

  .description {
    font-family: 'TL', sans-serif;
    font-size: 22px;
    line-height: 32px;
  }

  & + & {
    margin-top: 25px;
  }

  &.oddStage {
    box-sizing: border-box;

    background: linear-gradient(180deg, #000 0%, rgba(50, 50, 50, 0.85) 100%);
    border: 2px solid #676767;
    border-radius: 12px;
    box-shadow: inset 0 0 7px 0.5px #787878;

    .percentage {
      box-sizing: border-box;

      background: #000;
      border: 2px solid #db5555;
      border-radius: 12px;
      box-shadow: inset 0 0 7px 0.5px #ff1616;
    }

    .description {
      font-family: 'MSR', sans-serif;
      font-size: 18px;
      text-align: left;
    }
  }
}
