@import '../../../../../styles/mixins/container.scss';
@import '../../../../../styles/mixins/media.scss';

.section {
  padding-top: 121px;

  background: #000;
  @include b(mobile) {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
}

.content {
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  padding: 17px 30px;
  box-sizing: border-box;
  width: fit-content;

  font-family: 'TL', sans-serif;
  font-size: 50px;
  line-height: 58px;
  border-radius: 12px;
  margin: 0 auto;
  @include b(tablet) {
    font-size: 50px;
    text-align: center;
  }
  @include b(mobile) {
    font-size: 25px;
    line-height: 29px;
  }
}

.text {
  margin-top: 25px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  padding: 0 220px;
  @include b(tablet){
    
  padding: 0 10px;
  }
  @include b(mobile) {
    font-size: 15px;
    line-height: 18px;
  }
}
.box{ 
  display:flex;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  padding:30px 20px;
  border-radius:25px;
  margin-top:50px;
  @include b(mobile) {
    flex-wrap:wrap;
    justify-content: center;
  }
  .left {
    img{
      width: 250px;
      height: 250px;
      border-radius:50%;
      border:5px solid #fff;

    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width:70%;
      @include b(mobile) {
        margin-left: 0;
        line-height:30px;
        align-items: center;
    
        img {
          width: 100%;
        }
      }
  }
}

  // @include b(tablet) {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   margin-bottom: 30px;
  // }
  // @include b(mobile) {
  //   margin-left: 0;

  //   align-items: center;

  //   img {
  //     width: 100%;
  //   }
  // }
}


